{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ title }}</h1>
        <p>{{ content }}</p>
        <p>You can contact us via email at: <a href="mailto:info@example.com">info@example.com</a></p>
    </div>
{% endblock %}
