{% extends 'base.html.twig' %}

{% block title %}Dummy Page{% endblock %}

{% block body %}
    <h1>Welcome to the Dummy Page</h1>
    <p>This is the default page for DummyController.</p>
{% endblock %}
